.headerParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  height: 5rem;
  width: 100%;
}
.studentInfo {
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 100%;
  border: solid 1px black;
}
.markSheet {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  border: solid 1px black;
}
