.addParentBtn {
  height: 3rem;
  width: 10rem;

  color: rgb(106, 175, 198);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  border-style: none;
  margin: 2rem;
  border: 1px rgb(106, 175, 198) solid;
}
