.updateTeacher {
  color: rgb(106, 175, 198);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  border-style: none;
  border: 1px rgb(106, 175, 198) solid;
}
