.dropdownAdmin {
  position: relative;
  display: inline-block;
}

.dropdownAdmin:hover .dropdownContentForAdmin {
  display: block;
}
.dropdownAdmin:hover .triangle-up {
  display: block;
}
.adminProfileHeading {
  position: static;
  border: 1px solid #faf6fc;
  border-radius: 50%;
  padding: 0.8rem;
  background-color: #9848bf;
}
.profileHeading {
  color: #faf6fc;
}
.profileHeading :hover {
  color: #deade2;
}

.dropdownContentForAdmin {
  display: none;
  margin-top: 1rem;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  padding: 12px 16px;
  z-index: 1;
  margin-left: -9rem;
  position: absolute;
  background-color: #faf6fc;
}
.dropdownContentForAdmin h6 {
  color: #deade2;
}
