.addTeacherBtn {
  background-color: #c978d0;
  border: none;
  color: #f8ecf9;
  height: 2.5rem;
  width: 7rem;
  padding: 0.2rem;
  border-radius: 7px;
  margin: 1.5rem;
}
.updateStudentBtn {
  background-color: #c978d0;
  border: none;
  color: #f8ecf9;
  height: 2rem;
  width: 3rem;
  border-radius: 7px;
}
.updateStudentBtn:hover {
  color: #d89ef6;
}
h1 {
  color: #c978d0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
