.addTeacherBtn {
  height: 3rem;
  width: 10rem;
  background-image: url("../../../Img/bgTeacherDashBoard\ \(2\).jpg");
  color: rgb(106, 175, 198);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  border-style: none;
  margin: 2rem;
  border: 1px rgb(106, 175, 198) solid;
}
