.addStudentBtn {
  background-color: #c978d0;
  border: none;
  color: #f8ecf9;
  height: 2.5rem;
  width: 7rem;
  padding: 0.2rem;
  border-radius: 7px;
  margin: 1.5rem;
}
.updateStudentBtn {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  border-style: none;
  border: 1px rgb(106, 175, 198) solid;
}
.addStudentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputStudentLabel {
  margin: 1rem;
  color: #b970c0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.studentInput {
  border: 1px #b970c0 solid;
  color: #b970c0;
  padding: 0.3rem;
  border-radius: 6px;
}
.inputError {
  color: red;
}
h3 {
  color: #deade2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
