.adminHeader {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: row;
  width: 100%;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
}

.profile {
  height: 5rem;
  width: 5rem;
  margin-top: 1.5rem;
}
.schoolAdminHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding-top: 1rem;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  justify-content: center;
  align-items: center;
}

.userListLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.studentListLink {
  text-decoration: none;
  margin: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #faf6fc;
  font-size: 1.5rem;
}
.studentListLink:hover {
  color: #deade2;
}

.dropbtnAdmin {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.adminDropdown {
  position: relative;
  display: inline-block;
}

.schoolAdminDropDown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.schoolAdminDropDown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.schoolAdminDropDown a:hover {
  background-color: #f1f1f1;
}

.adminDropdown:hover .schoolAdminDropDown {
  display: block;
}

.adminDropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/*---------*/
.schoolLogo {
  height: 4rem;
  width: 4rem;
}
.logoSchoolAdmin {
  width: 6rem;
  height: 4rem;
}
.schoolAdminLin {
  display: flex;
  width: 20rem;
  justify-content: space-around;
}
.headerMenuAdmin {
  display: flex;
  justify-content: space-around;
  width: 40rem;
  align-items: center;
}
.schoolAdminHeaderLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #9848bf;

  width: 100%;
}
.schoolAdminLinkSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.adminProfile {
  align-items: center;
  height: 2rem;
}
